<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- Checkstyle is a static code analysis tool used in software development for checking if Java source code complies with coding rules. -->
<!-- I have been using this site to find out what i want my checkstyle to check for: http://checkstyle.sourceforge.net/checks.html -->

<module name = "Checker">
    <property name="charset" value="UTF-8"/> <!--UTF-8 er encoding som er brukt i prosjektet, character encoding som kan encode alle mulige charachters -->
    <property name="severity" value="warning"/> <!--Sier noe om alvorlighetsgraden på checkene: her er de bare warnings   -->
    <module name="TreeWalker"> <!--Sjekker individuelle java kilde filer og skaffer properties som trengs for å sjekke java filer -->
        <module name="LineLength">
            <property name="max" value="100"/> <!--Uoversiktlig med for lange linjer, default value= 80, men jeg velger litt lenger -->
        </module>
        <module name="EmptyBlock">
            <property name="tokens" value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/> <!--There is no need to have empty blocks like else, switch, try, finally and so on. -->
        </module>
        <module name="RightCurly"> <!-- the right curly bracket should be standing alone on the line, this means: try {  -->
            <property name="option" value="alone"/>
            <property name="tokens" value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, LITERAL_DO, STATIC_INIT, INSTANCE_INIT"/>
        </module>
        <module name="Indentation">
            <property name="basicOffset" value="2"/> <!--how far new indentation level should be indented when on the next line -->
            <property name="braceAdjustment" value="0"/><!--how far a braces should be indented when on the next line -->
        </module>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected"/> <!-- expects that a catch block contains the exceptionVariableName which is usually 'e' in our code, want the code to print stacktrace og the e to make it a good code for the others to work with -->
        </module>
    </module>
</module>
